.accessory-item {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  :host:nth-child(odd) {
    background-color: teal;
  }
  
  :host:nth-child(even) {
    background-color: pink;
  }
  