
<body>
  <div class="navigate">
  <nav>
    <a routerLink="home" routerLinkActive="active">Home</a>
    <a routerLink="modify" routerLinkActive="active">Modify List</a> 
  </nav>
</div>
<div class="product-list">
  <h2>Product List</h2>
  <div *ngFor="let product of products">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description || 'No description available' }}</p>
    <p><strong>Price: </strong>$ {{ product.price | priceTag }} </p>
    <p><strong>Type: </strong>{{ product.type }}</p>
    <p><strong>{{ today | date:'fullDate' }}</strong></p>
    
  </div>
</div>
<router-outlet></router-outlet>
</body>