body {
  background-color: #000000;
}

.product-list {
  margin: 20px;
}

.product-list div {
  background-color: #121212;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
}

div {
  color: rgb(112, 170, 170);
}

h3 {
  color: #333;
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

strong {
  font-weight: bold;
}

.navigate {
  background-color: black;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #555;
  color: #fff;
}

nav a.active {
  background-color: #007bff;
  color: white;
}

@media (max-width: 768px) {
  nav {
    display: block;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}
