
body{
    background-color: #000000;
}
.product-list {
    margin: 20px;
  }
  
  .product-list div {
    background-color: #121212;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  div {
    color:rgb(112, 170, 170);
  }
  h3 {
    color: #333;
    font-size: 1.5em;
  }
  
  p {
    font-size: 1em;
  }
  
  strong {
    font-weight: bold;
  }
  