.product-list {
    margin: 20px;
  }
  
  .product-list div {
    background-color: #5c0000;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #3b3b3b;
  }
  div {
    color: rgb(59, 7, 128);
  }
  h3 {
    color: #333;
    font-size: 1.5em;
  }
  
  p {
    font-size: 1em;
  }
  
  strong {
    font-weight: bold;
  }
  