// instrument-list-item.component.scss

:host {
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
   
    
    &:nth-child(even) {
      background-color: rgb(163, 20, 44);
    }
  
    
    &:nth-child(odd) {
      background-color: lightblue;
    }
  }
  
  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .product-type,
  .product-price {
    font-size: 1rem;
    color: #666;
    margin: 0.25rem 0;
  }
  
  .product-price {
    font-weight: bold;
    color: #2e7d32;
  }
  